@font-face {
    src: url("../fonts//Courgette-Regular.ttf");
    font-family: courgette;
}

@font-face {
    src: url("../fonts/BalooPaaji2-Regular.ttf");
    font-family: baloopaji-reg;
}

@font-face {
    src: url("../fonts/BalooPaaji2-SemiBold.ttf");
    font-family: baloopaji-sb;
}

body{
    background-color:  #212529 !important;
    text-align: center;
    font-family: baloopaji-reg;
}

h1, h2, h3, h4, h5, h6 {
    font-family: baloopaji-sb;
}

/*////////////////////////// Header Section ////////////////////////*/

header{
    position: fixed;
    background-image: linear-gradient(to bottom right, #ff935c,#da2d2d) !important;
    margin: 4vh 4vw;
    border-radius: 6px;
    padding: 4vh 10vw;
    height: 550px;
    /* text-align: start; */
    animation: shift-right 1.5s ease;
}

button{
    border-radius: 60px !important;
    background-image: linear-gradient(to bottom right, #da2d2d, #ff935c);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
    width: 200px;
    margin-top: 3vh !important;
    margin-bottom: 3vh !important;
    font-family: baloopaji-sb;
    font-size: x-large !important;
}

button:hover{
    background-image: none;
    background-color: #343a40 !important;
    color: #ff935c !important;
}

.header-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    border-bottom: 5px solid #540e57;
    width: 10%;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.intro{
    font-size: 60px;
    font-family: courgette;
    font-weight: bolder;
}

header p{
    font-size: larger;
    letter-spacing: 0.03rem;
}


.header-image{
    width: 50%;
}

a{
    text-decoration: none;
    color: #212529;
    margin: 0 10px;
}

.icon{
    font-size: 3rem;
    text-decoration: none;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    background-image: linear-gradient(to bottom, #ff925c00 80%, #212529 10%);
    border-radius: 4px;
}

.icon:hover{
    color: #ff935c;
    background-image: linear-gradient(to bottom, #ff925c00 80%, #ff935c 10%);
}



/*////////////////////////// Main Section ////////////////////////*/

ul{
    padding-left: 0;
}


.main-section{
    padding: 550px 5vw 0;
    animation: shift-down 1.5s ease;
}

.resume{
    flex: 0 0 35%;
    text-align: start;
}

.same-line{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.card-text{
    padding-left: 2vw;
}

.project{
    flex: 0 0 65%;
}

.project-title{
    position: absolute;
    left: 50%;
    padding: 8px 20px 2px;
    top: -20px;
    z-index: 1;
    background-image: linear-gradient(to bottom right, #ff935c,#da2d2d) !important;
    border-radius: 4px 0 4px 0;
}

.project-item{
    padding: 0;
}

.resume-item:first-child{
    border-radius: 6px 0 0 0;
}
.resume-item:last-child{
    border-radius: 0 0 0 6px;
}
.project-image-first{
    border-radius: 0 6px 0 0;
}
.project-footer{
    border-radius: 0 0 6px 0;
}

.project-item a{
    margin: 0;
}

.project-image{
    width: 100%;
    height: 100%;
    transition: all .2s;
}

.project-icons{
    position: absolute;
    top: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all .2s;
}

.project-icon{
    margin-right: 5px !important;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    background-image: linear-gradient(to bottom right, #ff935c, #da2d2d);
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    border-radius: 50%;
    color: #343a40;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.project-icon:hover{
    width: fit-content;
    min-width: 3rem;
    padding: .75rem;
    color: #343a40;
    border-radius: 1.5rem;
    text-decoration: none;
}

.project-hide,
.hidden{
    display: none;
}
.project-icon:hover .hidden{
    display: inline-block;
}

.project-item:hover .project-image{
    height: 80%;
    transform: scale(1.1);
}

.project-item:hover .project-icons{
    top: 60%;
}

.project-item:hover .description-box{
    background-color: #ff935c;
    color: #212529;
    height: 20%;
    transform: scale(1.1);
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.project-footer{
    padding: 2vh;
    background-image: linear-gradient(to bottom right, #ff935c, #da2d2d);
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-footer button{
    background-color: #343a40 !important;
    background-image: none;
    color: #ff935c;
}

.project-footer button:hover{
    background-image: linear-gradient(to bottom right, #da2d2d, #ff935c);
    color: #343a40;
}


@media (max-width: 1000px){

    .header-image{
        width: 80%;
    }

    .project{
        width: 80vw;
        flex: none;
    }

    .resume{
        width: 80vw;
        flex: none;
    }

    .resume-item:first-child{
        border-radius: 6px 6px 0 0;
    }
    .resume-item:last-child{
        border-radius: 0;
    }
    .project-image-first{
        border-radius: 0;
    }

    .project-title{
        left: 30px;
        justify-content: center;
    }

    .project-footer{
        border-radius: 0 0 6px 6px;
    }
}


@media (max-width: 650px){
    button{
        width: 120px;
        font-size: medium !important;
    }
    header{
        padding-top: 5vh;
        position: absolute;
    }
    .header-image{
        display: none;
    }
    .icon{
        font-size: 2rem;
    }
}


/*///////////////////////////// Footer ////////////////////////*/

footer{
    padding: 50px 0 0;
    color: snow;
}






/*/////////////////////////// Animations ////////////////////////*/

@keyframes shift-right{
    0%{
        opacity: 0;
        transform: translateX(-50vw);
    }
    100%{
        opacity: 1;
        transform: translateX(0); 
    }
}

@keyframes shift-down{
    0%{
        opacity: 0;
        transform: translateY(-50vw);
    }
    100%{
        opacity: 1;
        transform: translateY(0); 
    }
}